@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*::selection {
  background-color: #f58319;
}

span {
  cursor: default;
}

a {
  cursor: pointer;
  text-align: none;
  text-decoration: none;
  color: #000;
}

a:visited,
a:active {
  cursor: pointer;
  color: inherit;
}

.header {
  width: 1200px;
  margin: 1.5em auto;
  display: flex;
}
.header-block {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
}
.header-block__menu {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}
.header-block__menu li {
  list-style-type: none;
}

.block-menu__item {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 0.4em;
}
.block-menu__item i {
  font-size: 1.2em;
  color: green;
}
.block-menu__item span {
  font-size: 0.8em;
}
.block-menu__item a {
  font-size: 0.8em;
}
.block-menu__item a:hover {
  color: #f58319;
  transition: 0.2s all ease-in;
}
.block-menu__item li {
  cursor: default;
}

.navigation {
  width: 100%;
  background-color: #000;
}
.navigation-menu {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em 5em;
}
.navigation-menu a {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.navigation-menu a li {
  list-style-type: none;
}
.navigation-menu a li:hover {
  color: #f58319;
  transition: 0.2s all ease-in-out;
}

.services-background {
  width: 100%;
  overflow: hidden;
  background-color: #000;
  position: absolute;
}
.services-background__img {
  opacity: 0.2;
}
.services-items {
  max-width: 1000px;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 20%;
}
.services-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 33%;
  text-align: center;
  gap: 1.2em;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.services-item i {
  color: #fff;
  font-size: 2.5em;
  padding-top: 1em;
}
.services-item h2 {
  color: yellow;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  cursor: default;
}
.services-item p {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding-bottom: 2em;
  cursor: default;
}

.prices {
  width: 1200px;
  margin: 20em auto 5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.prices button {
  width: 50%;
  padding: 0.5em 1em;
  background: transparent;
  color: orange;
  text-transform: uppercase;
  border: 1px solid orange;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 4em;
}
.prices button:hover {
  background-color: orange;
  color: #fff;
  transition: 0.1s all ease;
}
.prices-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.prices-box__item {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prices-box__item h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2em;
}
.prices-box__item img {
  width: 80%;
}

.item-cost {
  color: orange;
  margin-top: 1em;
  font-weight: 700;
  font-size: 1.7em;
}

.item-desc {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.item-desc p {
  width: 80%;
  margin: 0.5em auto;
  text-align: center;
}
.item-desc p:after {
  content: "";
  margin-top: 0.5em;
  height: 0.5px;
  width: 100%;
  background-color: gray;
  display: block;
}

.cta-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em auto 0;
}
.cta-buttons__item {
  width: 100%;
}

.storage {
  width: 1200px;
  margin: 0 auto;
}
.storage h3 {
  text-transform: uppercase;
  font-size: 2.5em;
  cursor: default;
}
.storage h3 span {
  color: #f58319;
  cursor: default;
}
.storage p {
  margin: 3em auto;
  text-align: left;
  cursor: default;
}
.storage-details {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2em auto;
}
.storage-details__item {
  width: 25%;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.storage-details__item h4 {
  cursor: default;
}
.storage-details__item i {
  font-size: 2em;
  color: #f58319;
  margin: 1em auto;
}
.storage-details__item p {
  width: 80%;
  text-align: center;
  cursor: default;
}
.storage-details__item p:after {
  content: "";
  display: block;
  background-color: #f58319;
  height: 4px;
  width: 40%;
  margin: 2em auto;
}

.stages {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 4em auto;
}
.stages-item {
  width: 40%;
  display: flex;
  justify-content: space-between;
  gap: 3em;
}
.stages-item i {
  font-size: 5em;
  color: #f58319;
}
.stages-item__desc {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.stages-item__desc h4 {
  text-transform: uppercase;
  font-size: 1.5em;
}
.stages-item__desc p {
  margin-top: 2em;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
