@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$mainColor: #f58319;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    &::selection {
        background-color: $mainColor;
    }
}

span {
    cursor: default;
}

a {
    cursor: pointer;
    text-align: none;
    text-decoration: none;
    color: #000;
}

a:visited,
a:active {
    cursor: pointer;
    color: inherit;
}

// Header section

.header {
    width: 1200px;
    margin: 1.5em auto;
    display: flex;

    &-block {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 50px;
        align-items: center;

        &__menu {
            display: flex;
            flex-direction: row;
            gap: 2em;
            align-items: center;
            li {
                list-style-type: none;
            }
        }
    }
}

.block-menu__item {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 0.4em;

    i {
        font-size: 1.2em;
        color: green;
    }

    span {
        font-size: 0.8em;
    }

    a {
        font-size: 0.8em;
    }

    a:hover {
        color: $mainColor;
        transition: .2s all ease-in;
    }

    li {
        cursor: default;
    }
}

// Navigation section

.navigation {
    width: 100%;
    background-color: #000;

    &-menu {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2em 5em;

        a {
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;

            li {
                list-style-type: none;

                &:hover {
                    color: $mainColor;
                    transition: .2s all ease-in-out;
                }
            }
        }
    }
}

// Services section

.services {
    

    &-background {
        width: 100%;
        overflow: hidden;
        background-color: #000;
        position: absolute;

        &__img {
            opacity: .2;
        }
    }

    &-items {
        max-width: 1000px;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-top: 10%;
    }

    &-item {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 33%;
        text-align: center;
        gap: 1.2em;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;

        i {
            color: #fff;
            font-size: 2.5em;
            padding-top: 1em;
        }

        h2 {
            color: yellow;
            font-weight: 700;
            font-size: 1em;
            text-transform: uppercase;
            cursor: default;
        }

        p {
            width: 80%;
            margin: 0 auto;
            color: #fff;
            text-align: center;
            padding-bottom: 2em;
            cursor: default;
        }
    }
}

// Prices section

.prices {
    width: 1200px;
    margin: 11em auto 5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    button {
        width: 50%;
        padding: 0.5em 1em;
        background: transparent;
        color: orange;
        text-transform: uppercase;
        border: 1px solid orange;
        font-weight: 700;
        cursor: pointer;
        margin-bottom: 4em;

        &:hover {
            background-color: orange;
            color: #fff;
            transition: .1s all ease;
        }
    }

    &-box {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__item {
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 2em;
            }

            img {
                width: 80%;
            }
        }
    }
}

.item-cost {
    color: orange;
    margin-top: 1em;
    font-weight: 700;
    font-size: 1.7em;
}

.item-desc {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    p {
        width: 80%;
        margin: 0.5em auto;
        text-align: center;

        &:after {
            content: '';
            margin-top: 0.5em;
            height: 0.5px;
            width: 100%;
            background-color: gray;
            display: block;
        }
    }
}

.cta-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em auto 0;

    &__item {
        width: 100%;
    }
}

// Storage section

.storage {
    width: 1200px;
    margin: 0 auto;

    h3 {
        text-transform: uppercase;
        font-size: 2.5em;
        cursor: default;

        span {
            color: $mainColor;
            cursor: default;
        }
    }

    p {
        margin: 3em auto;
        text-align: left;
        cursor: default;
    }

    &-details {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 2em auto;

        &__item {
            width: 25%;
            border: 1px solid gray;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h4 {
                cursor: default;
            }

            i {
                font-size: 2em;
                color: $mainColor;
                margin: 1em auto;
            }

            p {
                width: 80%;
                text-align: center;
                cursor: default;

                &:after {
                    content: '';
                    display: block;
                    background-color: $mainColor;
                    height: 4px;
                    width: 40%;
                    margin: 2em auto;
                }
            }
        }
    }
}

// Stages section

.stages {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 4em auto;

    &-item {
        width: 40%;
        display: flex;
        justify-content: space-between;
        gap: 3em;

        i {
            font-size: 5em;
            color: $mainColor;
        }
        
        &__desc {
            width: 100%;
            display: flex;
            flex-direction: column;

            h4 {
                text-transform: uppercase;
                font-size: 1.5em;
            }

            p {
                margin-top: 2em;
                text-align: left;
            }
        }
    }
}
