@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$mainColor: #f58319;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    &::selection {
        background-color: $mainColor;
    }
}

span {
    cursor: default;
}

a {
    cursor: pointer;
    text-align: none;
    text-decoration: none;
    color: #000;
}

a:visited,
a:active {
    cursor: pointer;
    color: inherit;
}

// Header section

.header {
    width: 1200px;
    margin: 1.5em auto;
    display: flex;

    &-block {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 50px;
        align-items: center;

        &__menu {
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            li {
                list-style-type: none;
            }
        }
    }

    .burger {
        display: none;
    }
}

.block-menu__item {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 0.4em;

    i {
        font-size: 1.2em;
        color: green;
    }

    span {
        font-size: 0.8em;
    }

    a {
        font-size: 0.8em;
    }

    a:hover {
        color: $mainColor;
        transition: .2s all ease-in;
    }

    li {
        cursor: default;
    }
}

// Navigation section

.navigation {
    width: 100%;
    background-color: #000;

    &-menu {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2em 5em;

        a {
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;

            li {
                list-style-type: none;

                &:hover {
                    color: $mainColor;
                    transition: .2s all ease-in-out;
                }
            }
        }
    }
}

// Mobile navigation

.mobile-nav {
    display: none;
}

// Price list section

.price-list {
    width: 1200px;
    margin: 2em auto;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;

    h2 {
        font-size: 1em;
        letter-spacing: 0.2em;
        color: $mainColor;
    }

    h3 {
        margin-top: 1em;
        text-transform: uppercase;
        font-size: 2.8em;

        &:after {
            content: '';
            display: block;
            height: 5px;
            background-color: $mainColor;
            width: 10%;
            margin: 1em 0;
            top: 0;
            left: 0;
        }
    }

    &__table {
        width: 50%;
        margin: 2em auto;

        td {
            width: 100%;
            padding: 1em 2em;
            border: 1px solid black;
            cursor: default;
            text-align: center;
        }
    }
}

// Media queries

@media screen and (max-width: 1000px) {
    * {
        overflow-x: hidden;
    }

// Header
    .header {
        width: 100%;
        height: 3em;
        background-color: #fff;
        position: fixed;
        z-index: 2;
        margin-top: 0;
        height: 4em;
        padding: 2em auto;

        &-block__menu {
            display: none;
        }

        .burger {
            display: block;

            i {
                font-size: 2em;
                color: $mainColor;
            }
        }
    }

// Navigation

    .navigation {
        display: none;
    }

// Mobile navigation

    .hidden {
        display: none;
    }

    .visible {
        display: block !important;
    }

    .mobile-nav {
        display: none;
        background-color: $mainColor;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 2;
        margin-top: 4em;

        &__menu {
            color: #fff;
            display: flex;
            flex-direction: column;
            padding: 2em 1em;
            height: 100%;
            gap: 2em;
            position: relative;

            a {
                color: inherit;
            }

            li {
                list-style-type: none;
                text-transform: uppercase;
                font-size: 1.5em;
            }
        }
    }

// Price list

    .price-list {
        width: 90%;
        margin: 4em auto;

        h3 {
            width: 100%;
            font-size: 1.5em;
        }

        &__table {
            width: 100%;
            overflow-x: scroll;
        }
    }
}