@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*::selection {
  background-color: #f58319;
}

span {
  cursor: default;
}

a {
  cursor: pointer;
  text-align: none;
  text-decoration: none;
  color: #000;
}

a:visited,
a:active {
  cursor: pointer;
  color: inherit;
}

.header {
  width: 1200px;
  margin: 1.5em auto;
  display: flex;
}
.header-block {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
}
.header-block__menu {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header-block__menu li {
  list-style-type: none;
}
.header .burger {
  display: none;
}

.block-menu__item {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 0.4em;
}
.block-menu__item i {
  font-size: 1.2em;
  color: green;
}
.block-menu__item span {
  font-size: 0.8em;
}
.block-menu__item a {
  font-size: 0.8em;
}
.block-menu__item a:hover {
  color: #f58319;
  transition: 0.2s all ease-in;
}
.block-menu__item li {
  cursor: default;
}

.navigation {
  width: 100%;
  background-color: #000;
}
.navigation-menu {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em 5em;
}
.navigation-menu a {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.navigation-menu a li {
  list-style-type: none;
}
.navigation-menu a li:hover {
  color: #f58319;
  transition: 0.2s all ease-in-out;
}

.mobile-nav {
  display: none;
}

.invest {
  width: 1200px;
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  gap: 3em;
}
.invest-img {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
.invest-img img {
  width: 100%;
}
.invest-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.invest-text h2 {
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  * {
    overflow-x: hidden;
  }
  .header {
    width: 100%;
    height: 3em;
    background-color: #fff;
    position: fixed;
    z-index: 2;
    margin-top: 0;
    height: 4em;
    padding: 2em auto;
  }
  .header-block__menu {
    display: none;
  }
  .header .burger {
    display: block;
  }
  .header .burger i {
    font-size: 2em;
    color: #f58319;
  }
  .navigation {
    display: none;
  }
  .hidden {
    display: none;
  }
  .visible {
    display: block !important;
  }
  .mobile-nav {
    display: none;
    background-color: #f58319;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin-top: 4em;
  }
  .mobile-nav__menu {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    gap: 2em;
    position: relative;
  }
  .mobile-nav__menu a {
    color: inherit;
  }
  .mobile-nav__menu li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.5em;
  }
  .mobile-nav__contacts {
    width: 90%;
    margin: 10em auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .mobile-nav__contacts .phone {
    display: flex;
    width: 100%;
    gap: 1em;
    align-items: center;
  }
  .mobile-nav__contacts .address {
    display: flex;
    width: 100%;
    gap: 1em;
  }
  .mobile-nav__contacts i {
    color: #fff;
    font-size: 1.5em;
  }
  .mobile-nav__contacts a {
    color: #fff;
    font-size: 1.5em;
  }
  .mobile-nav__contacts span {
    color: #fff;
    font-size: 1.3em;
  }
  .invest {
    width: 90%;
    margin: 4em auto;
    display: flex;
    flex-direction: column;
  }
  .invest-img {
    display: none;
  }
  .invest-text {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
